<div class="discount-coupon-container-heytea">
    <div class="weui-top-bar">
        <div class="weui-cells" style="width: 100%;margin-top: 0px">
            <div class="header">
                <div class="left_icon" style="top:15px">
                    <a ng-click="dcc.goBack()">
                        <img src="./assets/images/black/fanhui.png" width="9px">
                    </a>
                </div>
                <div class="label" style="">优惠券</div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page__bd" style="height: 100%;" ng-if="theme=='heytea'">
            <div class="weui-tab second">
                <div class="weui-navbar second">
                    <a class="weui-navbar__item" ng-class="{'active':dcc.active === 'one'}"
                       ng-click="dcc.switchTab('one')">
                        <div>未使用</div>
                    </a>
                    <a class="weui-navbar__item" ng-class="{'active':dcc.active === 'two'}"
                       ng-click="dcc.switchTab('two')">
                        <div>已使用</div>
                    </a>
                    <a class="weui-navbar__item" ng-class="{'active':dcc.active === 'three'}"
                       ng-click="dcc.switchTab('three')">
                        <div>已过期</div>
                    </a>
                    <div class="bar-bottom-line animate" ng-class="dcc.active"></div>
                </div>
                <div class="weui-tab__panel">
                    <div class="no-data" ng-if="dcc.showEmptyMsg">
                        <img src="./assets/images/newHey/no.png"/>
                        <div>{{dcc.noDataMsg}}</div>
                    </div>
                    <div class="items" ng-class="dcc.active" >
                        <!--ng-click="dcc.openTaste(li)"-->
                        <div class="item"  ng-repeat="li in dcc.list" ng-click="dcc.openTaste(li)" >
                            <div class="left">
                                <div>{{li.nums}}张</div>
                            </div>
                            <div class="right">
                                <div class="name">{{li.name}}</div>
                                <div class="desc">{{dcc.note(li.remark) | limitTo : 15}}</div>
                                <div class="date">{{li.dateStr}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
